<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Reff_System - Withdraw</title>
  <link rel="stylesheet" href="/css/styles4.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>

</head>

<body>
  <header class="header">
    <div class="containerh">
      <h1>Reff_System</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/reff_profile">Refferal Account</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="main-content">
      <div class="top">
        <h1>User Profile</h1>
      </div>
      <div class="second">
        {{#each userData}}
        <form id="profileForm" action="/auth/updateprofile" method="post">
        <br/>
        <br/>
          <label for="username">Name:</label>
          <input type="text" id="username" name="username" value="{{this.name}}">
          <input type="hidden" id="email1" name="email1" value="{{this.name}}">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" value="{{this.email}}" readonly>
          {{!-- {{/each}}
          <label for="password">Password:</label>
          <input type="text" id="password" name="password" value="{{password}}">
          {{#each userData}} --}}
          {{!-- <label for="reff_cash">Your Referral Amount:</label>
          <input type="text" id="reff_cash" name="reff_cash" value="{{this.reff_cash}}" readonly> --}}
          <p>Wallet Balance: ${{this.reff_cash}}</p>
          {{/each}}
          {{#if message}}
          <h4>{{message}}</h4>
          {{/if}}
          <div class="button input-boxx">
            <a href="/changepass" class="button-link">Change Password</a>
          </div>
          <div class="passward_btn">
            <div class="button input-boxx">
              <input type="submit" value="Update">
            </div>

          </div>
        </form>



      </div>
    </div>
  </div>


</body>

</html>